body, html{
    height: 100%;
}

body {font-family: Arial;}

.tab {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #6d6a6a;
}

.tab button {
    display: flex;
    gap: 7px;
    /* flex-direction: column; */
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: lightgray;
    align-items: center;
}

.tab button:hover {
    background-color: #424549;
}

.tab button.active {
    background-color: #424549;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    height: 85vh;
    overflow-y: auto;
}

#icon-online {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}

/*
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 85vh;
}*/

#content-flex {
    background-color: #282b30;
    display: flex;
    height: 100%;
}

#title-chat{
    font-size: larger;
    font-weight:bolder;
}

/*
.list-users-connected{
    height: 250px;
    overflow-y: scroll;
}*/

.image-profile {
    font-size: 13pt;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 2%;
    align-content: center;
    text-align: center;
}

/*
.child-tab-users-connected {
    width: 20%;
    margin: auto;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin-top: 5%;
}

.header-users-connected {
    margin-bottom: 5%;
    font-size: large;
    font-weight: bold;
}*/

.single-user {
    padding: 7px;
    display: flex;
    align-items: center;
    color: lightgray;
}

.alert{
    display: none;
}

.sec-right {
    background-color: #36393e;
    width: 20%;
    height: 100%;
}

span#span-no-user-connected {
    color: lightgray;
}

.btn-invite{
    margin-right: 2%;
    margin-left: auto;
    padding: 4px 7px;
    box-shadow: rgb(188 183 183 / 20%) 0px 2px 8px 0px;
}